@font-face {
   font-family: 'roboto-main';
   src: url('./assets/fonts/RobotoCondensed-VariableFont_wght.woff2') format('woff2'),
      url('./assets/fonts/RobotoCondensed-VariableFont_wght.woff') format('woff');
   font-weight: 600;
   font-style: normal;
}

body {
   background-color: aliceblue;
   font-size: 16px;
   font-family: roboto-main;
   display: flex;
   flex-direction: column;
}

header {
   display: flex;
   flex-direction: column;
   margin-top: 1rem;
   margin-bottom: 2rem;
   padding-bottom: 2rem;
   align-items: center;
   justify-content: center;
}


header .landing-image {
   margin: 3rem 5rem;
   /* padding: 3rem; */
   display: flex;
   justify-content: center;
   align-items: center;
}


header .landing-about {
   padding: 1rem 5rem;
   font-size: 2rem;
   line-height: 1.5;
   text-align: center;
}

header .landing-about h2 {
   font-size: 3.5rem;
}

main .projects {
   text-align: center;
}

.container {
   margin: 4rem;
   padding: 4rem;
   display: flex;
   flex-wrap: wrap;
   gap: 5rem;
}

.project-item {
   display: flex;
   flex-direction: column;
   padding-bottom: 2rem;
   margin: 2rem 0;
   min-width: 400px;
   flex: 1 1 300px;
   max-width: 100%;
}

.project-item img {
   margin-bottom: 1rem;
}

.project-description {
   margin: 1.3rem;
   text-align: start;
}

.project-description h4 {
   margin: 0.5rem;
   padding: 0.5rem;
   font-size: 2rem;
}

.shadowed-box {
   -webkit-box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.5);
   -moz-box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.5);
   box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.5);
}